In [1]:
spark.sql("show databases").show()

NameError: name 'spark' is not defined

In [6]:
spark.sql("select * from sample.u_data").show(5)

+------+-------+------+---------+
|userid|movieid|rating| unixtime|
+------+-------+------+---------+
|   196|    242|     3|881250949|
|   186|    302|     3|891717742|
|    22|    377|     1|878887116|
|   244|     51|     2|880606923|
|   166|    346|     1|886397596|
+------+-------+------+---------+
only showing top 5 rows

In [7]:
spark.sql("select count(*) from sample.u_data").show()

+--------+
|count(1)|
+--------+
|  100000|
+--------+